<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/food-pic.jpg') }}");
            /* other styles */
        }
    </style>
    <!--[if lt IE 9]>
    <![endif]-->
</head>

<body class="sign_page">

    <div class="wrapper">
        <header>

            <img src="{{ url_for('static', filename='images/team-3-cusine.png') }}" alt="Logo" width="100" height="100">
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('menu') }}">MENU</a></li>
                    <li><a href="{{ url_for('signin') }}">SIGN IN</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="container">
        <form class="form" id="ResetPassword" method="post" action="{{ url_for('forgot') }}">
            <h2 class="form__title">Reset Password</h2>

            {% if show_flash_message %}
            <div class="form__flash-message form__message form__message--error">
                {{ get_flashed_messages(with_categories=true) }}
            </div>
            {% endif %}

            <div class="form__input-group">
                <input type="text" name="username" class="form__input" autofocus placeholder="Username or email">
                <div class="form__input-error-message"> </div>
            </div>
            <div class="form__input-group">
                <input type="password" name="new-password" class="form__input" autofocus placeholder="New password">
                <div class="form__input-error-message"> </div>
            </div>
            <div class="form__input-group">
                <input type="password" name="confirm-new-password" class="form__input" autofocus
                    placeholder="Confirm new password">
                <div class="form__input-error-message"> </div>
            </div>
            <button class="form__button" type="submit">Reset Password</button>
            <p class=" form__text">
                <a class="form__link" href="{{ url_for('signin') }}" id="linkCreateAccount"> Already have an account?
                    Sign in</a>
            </p>
            <p class=" form__text">
                <a class="form__link" href="{{ url_for('signup') }}" id="linkCreateAccount"> Don't have an account?
                    Create account</a>
            </p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
